@model IEnumerable<LMSapplication.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-muted">@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.CatogoryTitle)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.CatogoryNumber)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatogoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatogoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-success" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-success">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
