@model IEnumerable<LMSapplication.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-muted">@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.NumberOfCopies)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.imageUrl)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th class="text-warning">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId"  class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId"  class="btn btn-success">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
